a.glyphicon:hover {
	text-decoration: none;
}

.row.p {
	margin-bottom: 20px;
}

.input-group-label {
 	min-width: 70px;
}

.projectVersion {
	color: white;
	font-size: 0.6em;
	margin: 0;
}